extends ../layouts/base.pug

block content 
	h1= title
	p= message
	form(action="/login" method="POST")
		div
			label(for="email") Email
			input(type="email" name="email" required)
		div
			label(for="password") Password
			input(type="password" name="password" required)
		div
			input(type="submit" value="Login")